.starability-result {
  position: relative;
  width: 200px;
  height: 40px;
  background-image: url(../star-regular.svg);
  background-size: 40px auto;
  background-repeat: repeat-x;
  font-size: 0.1em;
  color: transparent;
}

.starability-result:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  background-image: url(../star-solid.svg);
  background-size: 40px auto;
  background-repeat: repeat-x;
}

.starability-result[data-rating="5"]::after {
  width: 200px;
}

.starability-result[data-rating="4"]::after {
  width: 160px;
}

.starability-result[data-rating="3"]::after {
  width: 120px;
}

.starability-result[data-rating="2"]::after {
  width: 80px;
}

.starability-result[data-rating="1"]::after {
  width: 40px;
}

@-webkit-keyframes coinFlip {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateY(calc(-$star-size +5px));
            transform: translateY(calc(-$star-size +5px));
    opacity: 1;
  }
  30% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  35% {
    -webkit-transform: translateY(-40px) rotateY(0deg);
            transform: translateY(-40px) rotateY(0deg);
  }
  50% {
    -webkit-transform: translateY(-40px) rotateY(180deg);
            transform: translateY(-40px) rotateY(180deg);
  }
  65% {
    -webkit-transform: translateY(-40px) rotateY(0deg);
            transform: translateY(-40px) rotateY(0deg);
  }
  85% {
    -webkit-transform: translateY(calc(-$star-size -5px));
            transform: translateY(calc(-$star-size -5px));
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
}

@keyframes coinFlip {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateY(calc(-$star-size +5px));
            transform: translateY(calc(-$star-size +5px));
    opacity: 1;
  }
  30% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  35% {
    -webkit-transform: translateY(-40px) rotateY(0deg);
            transform: translateY(-40px) rotateY(0deg);
  }
  50% {
    -webkit-transform: translateY(-40px) rotateY(180deg);
            transform: translateY(-40px) rotateY(180deg);
  }
  65% {
    -webkit-transform: translateY(-40px) rotateY(0deg);
            transform: translateY(-40px) rotateY(0deg);
  }
  85% {
    -webkit-transform: translateY(calc(-$star-size -5px));
            transform: translateY(calc(-$star-size -5px));
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
}

.starability-coinFlip {
  display: block;
  position: relative;
  width: 200px;
  min-height: 80px;
  padding: 0;
  border: none;
  will-change: contents;
}

.starability-coinFlip > input {
  position: absolute;
  margin-right: -100%;
  opacity: 0;
}

.starability-coinFlip > input:checked ~ label,
.starability-coinFlip > input:focus ~ label {
  background-image: url(../star-regular.svg);
}

.starability-coinFlip > input:checked + label,
.starability-coinFlip > input:focus + label {
  background-image: url(../star-solid.svg);
}

.starability-coinFlip > input[disabled]:hover + label {
  cursor: default;
}

.starability-coinFlip > input:not([disabled]):hover ~ label {
  background-image: url(../star-regular.svg);
}

.starability-coinFlip > input:not([disabled]):hover + label {
  background-image: url(../star-solid.svg);
}

.starability-coinFlip > input:not([disabled]):hover + label::before {
  opacity: 1;
}

.starability-coinFlip > input:focus + label {
  outline: 1px dotted #999;
}

.starability-coinFlip .starability-focus-ring {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  outline: 2px dotted #999;
  pointer-events: none;
  opacity: 0;
}

.starability-coinFlip > .input-no-rate:focus ~ .starability-focus-ring {
  opacity: 1;
}

.starability-coinFlip > label {
  position: relative;
  display: inline-block;
  float: left;
  width: 40px;
  height: 40px;
  font-size: 0.1em;
  color: transparent;
  cursor: pointer;
  background-image: url(../star-solid.svg);
  background-repeat: repeat-x;
  background-size: 40px auto;
}

.starability-coinFlip > label::before {
  content: '';
  position: absolute;
  display: block;
  height: 40px;
  background-image: url(../star-solid.svg);
  background-size: 40px auto;
  background-repeat: repeat-x;
  pointer-events: none;
  opacity: 0;
}

.starability-coinFlip > label:nth-of-type(5)::before {
  width: 160px;
  left: -160px;
}

.starability-coinFlip > label:nth-of-type(4)::before {
  width: 120px;
  left: -120px;
}

.starability-coinFlip > label:nth-of-type(3)::before {
  width: 80px;
  left: -80px;
}

.starability-coinFlip > label:nth-of-type(2)::before {
  width: 40px;
  left: -40px;
}

.starability-coinFlip > label:nth-of-type(1)::before {
  width: 0px;
  left: 0px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
  .starability-coinFlip > label {
    background-image: url(../star-regular.svg);
    background-size: 40px auto;
    background-repeat: repeat-x;
  }
}

@media screen and (-ms-high-contrast: active) {
  .starability-coinFlip {
    width: auto;
  }
  .starability-coinFlip > input {
    position: static;
    margin-right: 0;
    opacity: 1;
  }
  .starability-coinFlip .input-no-rate {
    display: none;
  }
  .starability-coinFlip > label {
    display: inline;
    float: none;
    width: auto;
    height: auto;
    font-size: 1em;
    color: inherit;
    background: none;
  }
  .starability-coinFlip > label::before, .starability-coinFlip > label::after {
    display: none;
  }
}

.starability-coinFlip > label::after {
  content: ' ';
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 40px;
  background-image: url(../star-regular.svg);
  background-repeat: repeat-x;
  background-size: 40px auto;
  background-repeat: repeat-x;
  bottom: 0;
  left: 0;
  z-index: 2;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
  .starability-coinFlip > label::after {
    background-image: url(../star-regular.svg);
    background-size: 40px auto;
    background-repeat: repeat-x;
  }
}

.starability-coinFlip > input:checked + label::after {
  background-image: url(../star-solid.svg);
  opacity: 1;
  -webkit-animation-name: coinFlip;
          animation-name: coinFlip;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
