.starability-result {
  position: relative;
  width: 200px;
  height: 40px;
  background-image: url(../star-regular.svg);
  background-size: 40px auto;
  background-repeat: repeat-x;
  font-size: 0.1em;
  color: transparent;
}

.starability-result:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  background-image: url(../star-solid.svg);
  background-size: 40px auto;
  background-repeat: repeat-x;
}

.starability-result[data-rating="5"]::after {
  width: 200px;
}

.starability-result[data-rating="4"]::after {
  width: 160px;
}

.starability-result[data-rating="3"]::after {
  width: 120px;
}

.starability-result[data-rating="2"]::after {
  width: 80px;
}

.starability-result[data-rating="1"]::after {
  width: 40px;
}

.starability-slot {
  display: block;
  position: relative;
  width: 200px;
  min-height: 80px;
  padding: 0;
  border: none;
}

.starability-slot > input {
  position: absolute;
  margin-right: -100%;
  opacity: 0;
}

.starability-slot > input:checked ~ label,
.starability-slot > input:focus ~ label {
  background-image: url(../star-regular.svg);
}

.starability-slot > input:checked + label,
.starability-slot > input:focus + label {
  background-image: url(../star-solid.svg);
}

.starability-slot > input[disabled]:hover + label {
  cursor: default;
}

.starability-slot > input:not([disabled]):hover ~ label {
  background-image: url(../star-regular.svg);
}

.starability-slot > input:not([disabled]):hover + label {
  background-image: url(../star-solid.svg);
}

.starability-slot > input:not([disabled]):hover + label::before {
  opacity: 1;
}

.starability-slot > input:focus + label {
  outline: 1px dotted #999;
}

.starability-slot .starability-focus-ring {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  outline: 2px dotted #999;
  pointer-events: none;
  opacity: 0;
}

.starability-slot > .input-no-rate:focus ~ .starability-focus-ring {
  opacity: 1;
}

.starability-slot > label {
  position: relative;
  display: inline-block;
  float: left;
  width: 40px;
  height: 40px;
  font-size: 0.1em;
  color: transparent;
  cursor: pointer;
  background-image: url(../star-solid.svg);
  background-repeat: repeat-x;
  background-size: 40px auto;
}

.starability-slot > label::before {
  content: '';
  position: absolute;
  display: block;
  height: 40px;
  background-image: url(../star-solid.svg);
  background-size: 40px auto;
  background-repeat: repeat-x;
  pointer-events: none;
  opacity: 0;
}

.starability-slot > label:nth-of-type(5)::before {
  width: 160px;
  left: -160px;
}

.starability-slot > label:nth-of-type(4)::before {
  width: 120px;
  left: -120px;
}

.starability-slot > label:nth-of-type(3)::before {
  width: 80px;
  left: -80px;
}

.starability-slot > label:nth-of-type(2)::before {
  width: 40px;
  left: -40px;
}

.starability-slot > label:nth-of-type(1)::before {
  width: 0px;
  left: 0px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
  .starability-slot > label {
    background-image: url(../star-solid.svg);
    background-size: 40px auto;
    background-repeat: repeat-x;
  }
}

@media screen and (-ms-high-contrast: active) {
  .starability-slot {
    width: auto;
  }
  .starability-slot > input {
    position: static;
    margin-right: 0;
    opacity: 1;
  }
  .starability-slot .input-no-rate {
    display: none;
  }
  .starability-slot > label {
    display: inline;
    float: none;
    width: auto;
    height: auto;
    font-size: 1em;
    color: inherit;
    background: none;
  }
  .starability-slot > label::before, .starability-slot > label::after {
    display: none;
  }
}

.starability-slot > input:checked ~ label,
.starability-slot > input:hover ~ label,
.starability-slot > input:focus ~ label {
  -webkit-transition: background-position .7s;
  transition: background-position .7s;
}
