.starability-result {
  position: relative;
  width: $star-count * $star-size;
  height: $star-size;
  background-image: $img-stars-svg;
  background-size: $star-size auto;
  background-repeat: repeat-x;
  font-size: 0.1em;
  color: transparent;

  &:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: $star-size;
    background-image: $img-stars-checked-svg;
    background-size: $star-size auto;
    background-repeat: repeat-x;
  }

  $star-count-result: $star-count;

  @while $star-count-result > 0 {
    $star-number: $star-count-result;

    &[data-rating="#{$star-number}"]::after {
      width: $star-number * $star-size;
    }

    $star-count-result: $star-count-result - 1;
  }
}
